<!DOCTYPE html>
<html>
  <head>
    <title>TheNewGossipProject</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>

      <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
      <%= javascript_importmap_tags %>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  </head>

  <body data-turbo="false">

  <% if notice %>
            <div class="notice mx-5 col-10 text-center rounded-2 p-2">
            <%= notice %>
            </div>
            <% end %>
<div class="container">
<h1 class="display-4">Bienvenue sur le Site des hypocrites <%= params[:id] %></h1>


<div class="row">
  <% @gossips.each do |gossip| %>
    <div class="col-md-3">
      <div class="row">
        <div class="col-md-12">
          <div class="card mb-3 card-home">
            <div class="card-body mt-auto mb-auto">
              <h5 class="card-title"><%= gossip.title %></h5>
              <p class="card-text"><em><%= gossip.content %></em></p>
               <a href="potin/<%=gossip.id%>" class="btn btn-primary mb-0">Voir le potin</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
 <%= yield %>
    
  </body>
</html>