<main class= "container">
<h6 class="display-4">Ci-dessous le formulaire pour lancer la prochaine rumeur</h6>
 <br /> <br />

<%= form_tag url_for(action: 'create'), method: "post", anthenticity_token: true do %>

  <div class="form-group row">
    <%= label_tag 'title', 'Titre de ton gossip', class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-10">
      <%= text_field_tag 'title', '', class: 'form-control', placeholder: "écris ton titre ici..." %>
    </div>
  </div>

  <div class="form-group row">
    <%= label_tag 'content', 'Ton gossip', class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-10">
      <%= text_area_tag 'content', '', class: 'form-control', rows: 3, placeholder: "écris ton gossip ici..." %>
    </div>
  </div>

    <div class="form-row align-items-center">
    <div class="col-auto my-1">
      <p class="mr-sm-2" for="inlineFormCustomSelect">Degrés d'importance</p>
      <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
        <option selected>choix</option>
        <option value="1">c'est juste pour bitcher</option>
        <option value="2">on m'a demandé de ne pas le répéter</option>
        <option value="3">le monde tel que tu le connais va disparaître</option>
      </select>
    </div>

    <div class="col-auto mt-4">
      <%= submit_tag "Envoyer", class: "btn btn-primary" %>
    </div>
    </div>
</form>
<% end %>
</main>
