<!DOCTYPE html>
<html>
  <head>
    <title>TheNewGossipProject</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  </head>
  <body data-turbo="false">
  <header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="<%= root_path %>">The New Gossip Project</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="<%= team_path %>"> Team </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%= contact_path %>">Contacts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%= new_gossip_path %>">Add a gossip</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%= new_user_path %>">Sign in</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%= new_session_path %>">Log in</a>
      </li>

      <%= button_to "Déconnexion", root_path, method: :delete, class: "btn btn-danger" %>
    </ul>
  </div>
</nav>
<h6 class="display-4">Bienvenue <%= current_user.first_name%> </h6> 


</header>


 
    <%= yield %>
    
  </body>
</html>
